.content {
    height: 100%;
    padding: 60px 20px;
    background: #fafbff;

    @include min-large {
        padding: 41px 95px 41px 377px ;
    }

    .title {
        @include poppins_medium;
        font-size: 24px;
        margin: 0 0 50px;
    }
}